;;
;; Example Configuration
;;
{:secrets {:db {:dbtype "postgresql"
                :dbname "startrek"
                :host "postgres"
                :port 5432
                :username "theborg"
                :password "resistanceisfutile"}
           :redis {:sessions {:uri "redis://redis/0"}}}

 :runtime-config {:db {:migration-locations ["db/migration/postgresql"]}
                  :cookies {:secure? false
                            :session-cookie-name "lcars-session"
                            :token-cookie-name "lcars-token"}
                  :core-control {:keep-previous-session? true}
                  :cors {:allow-origin "http://localhost"}
                  :environment :local
                  :jetty {:port 8080}
                  :thymeleaf {:prefix "public/"
                              :suffix ".html"
                              :cacheable? false
                              :cache-ttl-ms 0}}}
