/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
config/local
.idea
.iml
.cpcache
.eastwood
.rebel_readline_history
local
tags.lock
tags.temp
.clj-kondo/cache
resources/config/config-local.edn
.calva
version.txt
