;;
;; i18n en ui lcars messages
;;
{:add.starship "Add Starship (coming soon!)"
 :affiliation "Affiliation"
 :captain "Captain"
 :class "Class"
 :close.button "Close"
 :created "Created"
 :date.format "dd/MM/yyyy"
 :email.address "Email Address"
 :error.code "Code"
 :error.message "Message"
 :error.reference "Reference"
 :error.title "An error has occurred!"
 :home.welcome "Hello World"
 :image "Image"
 :launched "Launched"
 :login.button "Login"
 :login.text "Please enter your email address and password to continue"
 :login.title "LCARS Login"
 :login.welcome "LCARS Login"
 :logout "Logout"
 :navigation.bar.fleet "Fleet"
 :password "Password"
 :registry "Registry"
 :title "LCARS"
 :uuid "UUID"
 :version "version"
 :view.button "View"
 :view.starship "View Starship"}
