<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <contextName>startrek</contextName>

  <variable name="STARTREK_LOG_LEVEL" value="${STARTREK_LOG_LEVEL:-debug}" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>[%boldWhite(%d)] --- [%boldBlue(%-5level)][%boldGreen(%-25.25logger{25})] - %msg%n%rEx</Pattern>
    </encoder>
  </appender>

  <logger name="startrek" level="${STARTREK_LOG_LEVEL}"/>
  <logger name="com.zaxxer.hikari" level="info"/>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
