;;
;; Test Configuration
;;
{:secrets {:db {:dbtype "postgresql"
                :dbname "startrek_test"
                :host #or [#env PLATFORM_DB_HOST "localhost"]
                :port 5432
                :username "theborg"
                :password "resistanceisfutile"}}

 :runtime-config {:environment :local
                  :cors {:allow-origin "localhost"}
                  :jetty {:port 8080}
                  :jmxmp {:port 5555}}}
