<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="lcars-header (title)">

        <title th:replace="${title}">LCARS Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!-- SCRIPTS -->
        <script src="/assets/js/jquery-3.6.3.min.js"></script>
        <script src="/assets/bootstrap-5.2.3-dist/js/bootstrap.bundle.js"></script>
        <script src="/assets/js/htmx-1.8.5.min.js"></script>
        <script src="/assets/js/hyperscript-0.9.7.js"></script>
        <script src="/assets/js/json-enc.js"></script>
        <script src="/assets/js/jquery.dataTables-1.13.1.min.js"></script>
        <script src="/assets/js/functions.js"></script>

        <!-- STYLES -->
        <link rel="stylesheet" href="/assets/bootstrap-5.2.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/jquery.dataTables-1.13.1.min.css">
        <link rel="stylesheet" href="/assets/css/dataTables.bootstrap5-1.13.1.min.css">
        <link rel="stylesheet" href="/assets/fonts/material-icons.min.css">
        <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
        <link rel="stylesheet" href="/assets/css/styles.css">

    </head>
</html>
