accessibility-check: 0 (Tidy Classic)
add-meta-charset: no
add-xml-decl: no
add-xml-space: no
alt-text:
anchor-as-name: no
ascii-chars: no
assume-xml-procins: no
bare: no
break-before-br: yes
char-encoding: utf8
clean: no
coerce-endtags: yes
css-prefix: c
custom-tags: no
decorate-inferred-ul: no
doctype: auto
drop-empty-elements: no
drop-empty-paras: no
drop-proprietary-attributes: no
enclose-block-text: no
enclose-text: no
error-file:
escape-cdata: no
escape-scripts: yes
fix-backslash: no
fix-bad-comments: no
fix-style-tags: no
fix-uri: no
force-output: no
gdoc: no
gnu-emacs: yes
hide-comments: no
indent: auto
indent-attributes: no
indent-cdata: no
indent-spaces: 4
indent-with-tabs: no
input-encoding: utf8
input-xml: no
join-classes: no
join-styles: yes
keep-tabs: no
keep-time: no
literal-attributes: yes
logical-emphasis: no
lower-literals: yes
markup: yes
merge-divs: no
merge-emphasis: yes
merge-spans: no
mute:
mute-id: no
ncr: yes
new-blocklevel-tags: th:block
new-empty-tags:
new-inline-tags:
new-pre-tags:
newline: LF
numeric-entities: no
omit-optional-tags: no
output-bom: auto
output-encoding: utf8
output-file:
output-html: yes
output-xhtml: no
output-xml: no
preserve-entities: yes
priority-attributes:
punctuation-wrap: no
quiet: yes
quote-ampersand: yes
quote-marks: no
quote-nbsp: yes
repeated-attributes: keep-last
replace-color: no
show-body-only: auto
show-errors: 6
show-filename: no
show-info: yes
show-meta-change: no
show-warnings: no
skip-nested: yes
sort-attributes: none
strict-tags-attributes: no
tab-size: 4
tidy-mark: no
uppercase-attributes: no
uppercase-tags: no
vertical-space: no
warn-proprietary-attributes: no
word-2000: no
wrap: 0
wrap-asp: yes
wrap-attributes: no
wrap-jste: yes
wrap-php: no
wrap-script-literals: no
wrap-sections: no
write-back: no
